---
import '@styles/index.scss';

import Footer from '@layouts/Footer.astro';
import FloatButton from '@layouts/FloatButton.astro';
import { WSP } from '@consts/info';
const VanillaWSP = WSP.replaceAll(' ', '');

interface Props {
	title: string;
	description: string;
	keywords: string;
	image: string;
}
const { title, description, keywords, image } = Astro.props;
const url = Astro.url;
---

<html lang='es'>
	<head>
		<meta charset='UTF-8' />
		<meta name='description' content={description} />
		<meta name='keywords' content={keywords} />
		<meta name='viewport' content='width=device-width' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>

		{/* Open Graph para Facebook, Linkedin, WhatsApp */}
		<meta property='og:title' content={title} />
		<meta property='og:description' content={description} />
		<meta property='og:url' content={url} />
		<meta property='og:image' content={image} />
		<meta property='og:type' content='website' />

		{/* Open Graph para Twitter */}
		<meta name='twitter:card' content='summary_large_image' />
		<meta name='twitter:title' content={title} />
		<meta name='twitter:description' content={description} />
		<meta name='twitter:url' content={url} />
		<meta name='twitter:image' content={image} />
	</head>
	<body>
		<slot />
		<Footer />
		<FloatButton
			href={`www.wa.me/${VanillaWSP}`}
			icon='akar-icons:whatsapp-fill'
		/>
	</body>
</html>
